button {
	background-color: black;
	color: white;
	width: 100px;
	height: 70px;
	font-size: 30px;
	margin: 2px;
	padding: 2px;
}

#acbutton {	
	width: 316px;
	height: 70px;
	
}

.display {
	height: 50px;
	width: 422px;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 30px;
	margin: 4px;
}

#calculator  {
	width: 430px;
	height: 545px;
	border: 10px;
	border-color: black;
	background-color: grey;
}

hr{
	color=grey;
}